.container {
  background-color: var(--primary-green-04);
}
.cards {
  margin: 2rem 0;
}
.card {
  transition: var(--transition);
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
  padding: 1rem;
  /* background-color: var(--primary-green-04); */
  border-radius: 10px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transform: scale(1.02);
}

.infotitle {
  font-family: var(--title-font);
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr auto;
}
.tag {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}
.tagItem {
  text-transform: uppercase;

  font-family: var(--en-font);
  font-size: 11px;
  padding: 6px 10px;
  border-radius: 9px;
  font-weight: 400;
}
.icon {
  color: var(--primary-green-01);
  transition: var(--transition);
  border-radius: 0.2rem;
  padding: 0.1rem;
}
.icon:hover {
  color: var(--white);
}
.btnconteiner {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex: 0 0 calc(33% - 2rem);
  }
}
