@tailwind base;
@tailwind components;
@tailwind utilities;

/* 項目へ移動する時にheadingが隠れるのを防ぐスタイル */
:target::before {
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* font-size: 10px; */
  --transition: all 0.3s linear;
  --transition-: all 0.3s linear;
  --overlay: rgba(0, 0, 0, 0.72);
  --white: #ffffff;
  --black: #141414;
  --grey: #d8d8d8;
  --accent-clr-01: #ff9692;
  --accent-clr-02: #fff1f0;
  --accent-clr-03: #fd3a33;
  --primary-green-01: #7fbe92;
  --primary-green-02: #b9ebc8;
  --primary-green-03: #e5ffed;
  --primary-green-04: #f1fff5;
  --primary-green-05: #fff6f2;
  --primary-blue-01: #92d8e9;
  --en-font: "Montserrat", sans-serif;
  --title-font: "Noto Sans JP", sans-serif;
  --text-font: Arial, Helvetica, sans-serif;
  --sub-font: "Kaisei Decol", serif;
  --sub-font-maru: "Zen Maru Gothic", sans-serif;
}

body {
  font-family: var(--text-font);
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}

button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.parts-grid {
  display: grid;
  grid-template-columns: 1fr min(calc(100vw - (5vw * 2)), 1200px) 1fr;
}

.parts-grid > * {
  grid-column: 2;
}
.section-padding {
  padding: 4rem 0;
}

@media screen and (min-width: 768px) {
  .section-padding {
    padding: 6rem 0;
  }
}
/* @media screen and (min-width: 1024px) {
  .section-padding {
    padding: 8rem 0;
  }
} */

.open html,
.open body {
  overflow: hidden;
  height: 100%;
}
