
.gridconteinter,
.gridconteinterB,
.gridconteinterC {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  /* gridconteinterA,.gridconteinterC */
  .gridconteinter {
    grid-template-areas:
      "A B B"
      "A C E"
      "D D E";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }


  /* .gridconteinterB */
  .gridconteinterB {
    grid-template-areas:
      "B B A"
      "E C A"
      "E D D";
    grid-template-columns: 0.5fr 1fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .figureB:nth-child(1) {
    grid-area: A;
    height: 100%;
  }
  .figureB:nth-child(2) {
    grid-area: B;
  }

  .figureB:nth-child(3) {
    grid-area: C;
  }
  .figureB:nth-child(4) {
    grid-area: D;
  }

  .figureB:nth-child(5) {
    grid-area: E;
    height: 100%;
  }

  /* .gridconteinterC */
  /* .gridconteinterC {
    grid-template-areas:
      "C B B A"
      "C B B A"
      "D D D E";
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: repeat(3, 150px);
  } 
  .figureC:nth-child(1) {
    grid-area: A;
    height: 100%;
  }
  .figureC:nth-child(2) {
    grid-area: B;
    height: 100%;
  }

  .figureC:nth-child(3) {
    grid-area: C;
    height: 100%;
  }
  .figureC:nth-child(4) {
    grid-area: D;
    height: 100%;
  }

  .figureC:nth-child(5) {
    grid-area: E;
    height: 100%;
  } */

  .grafhicbtn {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  /* .gridconteinter {
    margin: 8rem 0;
  } */
}
