.header {
  padding: 1rem;
}
.header-fixed {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
  background-color: var(--white);
}

.headerCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titlebox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 6px;
  font-family: var(--en-font);
  font-size: clamp(1.25rem, 0.8889rem + 1.5408vw, 1.875rem);
  text-transform: uppercase;
  font-weight: 500;
}
.icon {
  width: clamp(1.875rem, 1.0444rem + 3.5439vw, 3.3125rem);
  height: clamp(1.875rem, 1.0444rem + 3.5439vw, 3.3125rem);
}
.headerNavPc {
  composes: navPc from "./Links.module.css";
  display: none;
  font-size: clamp(1rem, 0.8555rem + 0.6163vw, 1.25rem);
}

.navSp {
  display: block;
}
.navPc {
  display: none;
}
@media screen and (min-width: 768px) {
  .navSp {
    display: none;
  }
  .headerNavPc {
    display: flex;
  }
  .navPc {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    font-family: var(--text-font);
    font-weight: 200;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 0.5833rem + 1.3889vw, 1.625rem);
  }
  .navPcLink {
    transition: var(--transition);
  }
  .navPcLink:hover {
    color: var(--primary-green-02);
  }
}
