.modal {
  display: grid;
  inset: 0;
  /* opacity: 0; */
  place-items: center;
  position: fixed;
  /* transform: scale(0); */
  transition: var(--transition);
  z-index: 500;
}
.MuiBackdrop {
  background-color: rgba(32, 32, 32, 0.589);
  /* cursor: pointer; */
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.container {
  width: 80vw;
  height: 80vh;
  max-width: 1200px;
  border-radius: 1rem;
  padding: 20px;
  -webkit-box-align: center;
  align-items: center;
  row-gap: 10px;
  position: relative;
  background-color: white;
  display: grid;
  grid-template-columns: minmax(2vw, auto) 1fr minmax(2vw, auto);
  /* display: flex;
  place-content: center;
  flex-direction: column; */
}
.figure {
  border-radius: 1rem;
  grid-column: 2;
}

.image {
  border-radius: 1rem;
}
.togglebtn {
  cursor: pointer;
}
.toggleIcon {
  width: 30px;
  height: 30px;
  display: flex;
  place-items: center;
}
.toggleIconRed {
  stroke: var(--accent-clr-03);
  fill: white;
}
.togglebtncontainer {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  font-family: var(--sub-font-maru);
  align-items: center;
}
.togglefont {
  color: #9b9b9b;
}

.active.togglefont {
  font-weight: bold;
  color: var(--black);
}
.active.togglefontRed {
  font-weight: bold;
  color: var(--accent-clr-03);
}
.prev,
.next {
  cursor: pointer;
  z-index: 10;
  grid-column: 2;
  grid-row: 3;
}
.prev {
  justify-self: flex-start;
}
.next {
  justify-self: flex-end;
}
@media screen and (min-width: 768px) {
  .container {
    width: 90vw;
    height: 90vh;
  }
}
