.titlebox {
  margin-bottom: 60px;
}
.title {
  text-align: center;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: clamp(1.875rem, 1.5139rem + 1.5408vw, 2.5rem);
}
.green {
  color: var(--primary-green-01);
  background-color: var(--primary-green-01);
}
.blue {
  color: var(--primary-blue-01);
  background-color: var(--primary-blue-01);
}
.line {
  margin: 0 auto;
  width: 70px;
  height: 6px;
  /* background-color: var(--primary-green-02); */
}
