.about {
  background-color: var(--primary-green-05);
}

.tabcenter {
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  align-items: center;
}

.tabcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  column-gap: 90px;
}

.tabbtn {
  font-size: 25px;
  font-family: var(--title-font);
  font-weight: 600;
}
.activebtn {
  color: var(--primary-green-01);
  box-shadow: 0 6px var(--primary-green-01);
}
.article {
  border-radius: 20px;
  background-color: var(--white);
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* height: 60vh; */
}
.desc {
  line-height: 1.6;
  font-size: 20px;
  font-family: var(--sub-font-maru);
}
.figure {
  position: relative;
  width: 80%;
  height: 50vh;
}
.figure img {
  filter: opacity(0.9);
}
.aboutbtn {
  align-self: flex-end;
}

.aboutbtn {
  composes: aboutbtn from "./Button.module.css";
}
.aboutbtn > button {
  font-family: var(--en-font);
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .tabcenter {
    row-gap: 0;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .tabBox {
    flex: 0 0 calc(60% - 1rem);
  }
  .figure {
    flex: 0 0 calc(40% - 1rem);
    width: 100%;
    height: 350px;
  }
}
