.about {
  background-color: var(--primary-green-05);
}

.tabcontainer {
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  align-items: center;
}
.tabcenter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  column-gap: 90px;
}
.tabbtn {
  font-size: 25px;
  font-family: var(--title-font);
  font-weight: 600;
}
.activebtn {
  color: var(--primary-green-01);
  box-shadow: 0 6px var(--primary-green-01);
}
.article {
  border-radius: 20px;
  background-color: var(--white);
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.article p {
  font-size: 20px;
}
.aboutbtn {
  align-self: flex-end;
}

.aboutbtn {
  composes: aboutbtn from "./Button.module.css";
}
.aboutbtn > button {
  font-family: var(--en-font);
  font-weight: bold;
}
.figure img {
  filter: opacity(0.6);
}
@media screen and (min-width: 1024px) {
  .tabcontainer {
    row-gap: 0;
    align-items: flex-start;
    column-gap: 32px;
    flex-direction: row-reverse;
  }
}
