.gridimages {
  margin: auto 5vw;
}
.gridImages1 {
  background-color: var(--primary-green-03);
}
.gridImages2 {
  background-color: var(--primary-green-04);
  /* background-color: var(--accent-clr-02); */
}
.gridconteinter,
.gridconteinterB {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}
.figure,
.figureB {
  position: relative;
  width: 100%;
  height: 30vh;
  /* cursor: pointer; */
  background: var(--primary-green-01);
  border-radius: 20px;
}
.figure::after,
.figureB::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--white);
  transition: var(--transition);
  opacity: 0;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  display: grid;
  place-items: center;
  row-gap: 1rem;
  z-index: 100;
}
.name {
  font-family: var(--sub-font);
  color: var(--white);
  font-size: clamp(1.4rem, 1.0533rem + 1.4792vw, 2rem);
}
.tool {
  width: 32px;
  height: 32px;
}
.image {
  width: 100%;
  transition: var(--transition);
  border-radius: 20px;
}
.figure:hover .image,
.figureB:hover .image {
  opacity: 0.1;
}
.figure:hover .info,
.figureB:hover .info {
  opacity: 1;
}
.figure:hover::after,
.figureB:hover::after {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
/* .figure:nth-child(2) .image,
.figureB:nth-child(2) .image {
  background-color: #6e0b0b;
} */
.figure:nth-child(4) .image,
.figureB:nth-child(4) .image {
  object-position: 50% 30%;
  /* background-color: #4f2750; */
}
.figure:nth-child(5) .image,
.figureB:nth-child(5) .image {
  /* background-color: #9b1dab; */
}
.btnconteiner {
  text-align: center;
}
.grafhicbtn {
  width: 80%;
}
.tooliconfigure {
  display: flex;
  column-gap: 10px;
}
.zoomicon {
  width: 40px;
  height: 40px;
  color: var(--white);
  cursor: pointer;
  cursor: pointer;
  transition: var(--transition);
}
.zoomicon:hover {
  color: var(--accent-clr-01);
}
@media screen and (min-width: 768px) {
  /* gridconteinterA,.gridconteinterC */
  .gridconteinter {
    grid-template-areas:
      "A B B"
      "A C E"
      "D D E";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .figure:nth-child(1) {
    grid-area: A;
    height: 100%;
  }
  .figure:nth-child(2) {
    grid-area: B;
  }

  .figure:nth-child(3) {
    grid-area: C;
  }
  .figure:nth-child(4) {
    grid-area: D;
  }

  .figure:nth-child(5) {
    grid-area: E;
    height: 100%;
  }

  /* .gridconteinterB */
  .gridconteinterB {
    grid-template-areas:
      "B B A"
      "E C A"
      "E D D";
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .figureB:nth-child(1) {
    grid-area: A;
    height: 100%;
  }
  .figureB:nth-child(2) {
    grid-area: B;
  }

  .figureB:nth-child(3) {
    grid-area: C;
  }
  .figureB:nth-child(4) {
    grid-area: D;
  }

  .figureB:nth-child(5) {
    grid-area: E;
    height: 100%;
  }

  .grafhicbtn {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  /* .gridconteinter {
    margin: 8rem 0;
  } */
}
