.gridconteinter,
.gridconteinterB,
.gridconteinterC {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  /* gridconteinterA,.gridconteinterC */
  .gridconteinter {
    grid-template-areas:
      "A B B"
      "A C E"
      "D D E";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  /* .gridconteinterB */
  .gridconteinterB {
    grid-template-areas:
      "B B A"
      "E C A"
      "E D D";
    grid-template-columns: 0.5fr 1fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
  }

  /* .gridconteinterC */
  /* .gridconteinterC {
    grid-template-areas:
      "C B B A"
      "C B B A"
      "D D D E";
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: repeat(3, 150px);
  } 



@media screen and (min-width: 1024px) {
  /* .gridconteinter {
    margin: 8rem 0;
  } */
}
