
.box {
  display: grid;
  grid-template-areas:
    "A B C"
    "D E F"
    "G H J"
    "K L M";
  grid-template-rows: 50px repeat(3, 1fr);
  grid-template-columns: 30px repeat(2, 1fr);
}
.heroFigure {
  margin-left: 5vw;
  margin-right: -5vw;
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 0;
}
.heroImg {
  object-position: 40px;
  filter: opacity(0.6);
}

.title {
  z-index: 10;
  grid-area: D;
  width: clamp(10.3125rem, 8.3263rem + 8.4746vw, 13.75rem);
  height: clamp(10.3125rem, 8.3263rem + 8.4746vw, 13.75rem);
  background-color: var(--primary-green-02);
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  position: relative;
}
.title h1 {
  font-size: clamp(3.4375rem, 2.7875rem + 2.7735vw, 4.5625rem);
  font-family: var(--title-font);
  font-weight: bold;
}
.engawaline {
  position: absolute;
  bottom: -30px;
  right: -20px;
}
.line {
  width: clamp(4.875rem, 3.9361rem + 4.0062vw, 6.5rem);
  height: clamp(0.625rem, 0.4444rem + 0.7704vw, 0.9375rem);
  background-color: var(--primary-green-02);
}
.tate {
  transform: rotateY(90);
  transform: translate(39px, -44px) rotate(90deg);
}
.catch {
  z-index: 10;
  font-size: clamp(2.625rem, 1.7944rem + 3.5439vw, 4.0625rem);
  font-family: var(--title-font);
  color: var(--grey);
  filter: opacity(0.9);
  mix-blend-mode: multiply;
}
.catch1 {
  justify-self: baseline;
  align-self: center;
  grid-column: 3/-1;
  grid-row: 2/4;
  writing-mode: vertical-lr;
}
.catch2 {
  align-self: center;
  justify-self: flex-end;
  grid-area: 3/2/4/3;
}

.catch h2 {
  font-family: var(--en-font);
  font-size: 42px;
  color: var(--grey);
}
.catch h2:first-child {
  transform: rotateZ(90deg);
}

.herobtn {
  composes: herobtn from "./Button.module.css";
  z-index: 10;
  align-self: center;
  grid-area: L;
}
.herobtn > button {
  font-family: var(--title-font);
  font-weight: 600;
}
.heroLinks {
  composes: links from "./SocialLinks.module.css";
  grid-area: 3/2/4/3;
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 10;
}
.heroLinks svg {
  width: clamp(1.25rem, 0.7083rem + 2.3112vw, 2.1875rem);
  height: clamp(1.25rem, 0.7083rem + 2.3112vw, 2.1875rem);
  background-color: var(--primary-green-01);
  color: var(--white);
  border: 1px solid var(--primary-green-01);
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: var(--transition);
}
.heroLinks svg:hover {
  background-color: var(--white);
  color: var(--primary-green-01);
}
@media screen and (min-width: 1024px) {
  .box {
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .heroFigure {
    grid-column: 4/-1;
    grid-row: 1/5;
    margin-left: 0;
    margin-right: 0;
  }
  .title {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .catch1 {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
  .catch2 {
    grid-column: 1 / span 3;
    justify-self: flex-end;
    grid-row: 2;
    align-self: center;
  }
  .links {
    grid-column: 2 / span 3;
    justify-self: flex-end;
    align-self: flex-start;
  }

  .herobtn {
    grid-column: 5 / span2;
    grid-row: 4 / span 1;
    align-self: flex-start;
  }
  .yoko {
    transform: translate(5px, 16px);
  }
  .tate {
    transform: translate(50px, -44px) rotate(90deg);
  }
}
