.modal {
  display: grid;
  inset: 0;
  /* opacity: 0; */
  place-items: center;
  position: fixed;
  /* transform: scale(0); */
  transition: var(--transition);
  z-index: 500;
}
.MuiBackdrop {
  background-color: rgba(32, 32, 32, 0.589);
  /* cursor: pointer; */
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.container {
  width: 90vw;
  height: 90vh;
  max-width: 800px;
  border-radius: 1rem;
  padding: 20px;
  -webkit-box-align: center;
  align-items: center;
  row-gap: 10px;
  position: relative;
  background-color: white;
  display: flex;
  place-content: center;
  flex-direction: column;
}
.figure {
  border-radius: 1rem;
}

.image {
  border-radius: 1rem;
}
.togglebtn {
  cursor: pointer;
}
.toggleIcon {
  width: 30px;
  height: 30px;
  transition: var(--transition);
}
.toggleIconLeft {
  stroke: red;
  fill: white;
}
